@import "theme.css";
@import "./sections/header.css";
@import "./sections/footer.css";
@import "./sections/skills.css";
@import "./sections/about-me.css";
@import "./sections/projects.css";
@import "./sections/animation.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-stretch: normal;
}
body {
background-color: #e5e5f7;
background-image:  radial-gradient(#2b5cc5 0.75px, #eceeee 0.75px);
background-size: 30px 30px;
background-position: 0 0,15px 15px;
}
a {
  text-decoration: none;
}
section {
  margin-top: 120px;
  margin-bottom: 120px;
}
.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p-950);
  text-transform: capitalize;
}
.section__desc {
  text-align: center;
  max-width: 65ch;
  color: var(--n-500);
}
